.Form{
    input{
        padding: 1em;
        border: none;
    }
    button{
        padding: 1em;
        text-transform: uppercase;
        font-weight: bolder;
        border: none;
        background: coral;
        color: whitesmoke;
    }
}